@import url('https://fonts.cdnfonts.com/css/canela-text-trial');


.scroll-clean-minimal{
    overflow-x: scroll;
    overflow: hidden;
    display: flex;
    margin-top: 80px;
    margin-left: 100px;
    float: left;
    width: 93%;
    padding: 0;
}
.clean-minimal-card{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 536px;
    width: 472px;
    }
.clean-minimal {
    margin-left: -210px;
    height: 52px;
    width: 158px;
    font-family: Canela Text Trial;
    font-size: 27px;
    font-weight: 400;
    color: #114141;
}

.clean-minimal-card-p{
    height: 100px;
    width: 407px;
    font-family: Canela Text Trial;
    font-size: 16px;
    font-weight: 100;
    color: #666666;
}