@import url('https://fonts.cdnfonts.com/css/canela-text-trial');
@import url('https://fonts.cdnfonts.com/css/din-alternate');

.footer-container {
    width: 1920px;
    height: 750px;
    padding-top: 50px;
    margin-top: 500px;
    background-color: #114141;
}

.footer-div1 {
    width: 1150px;
    height: 183px;
    
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    justify-content: space-between;


}

.footer-div2 {
  
    
    margin-top: 130px;
    margin-left:100px;
    /* justify-content: space-around; */
    font-family: 'DIN Alternate';
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 146.41%;
    /* or 23px */


    color: #FFFFFF;

}

.footercomponenttit {
    width: 308px;
    height: 23px;
    
    align-items: center;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 124.5%;
    /* or 24px */
    padding-bottom: -1px;

    text-transform: uppercase;

    color: #FFFFFF;
}

.footer-footercomponents {

    right: 56.74%;
    top: 94.82%;

    padding-left: 400px;
    padding-bottom: 100px;
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 146.41%;



    color: #FFFFFF;

}

.footercomponenttitl {
    width: 308px;
    height: 23px;
   
    padding-top: -50px;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 124.5%;


    text-transform: uppercase;

    color: #FFFFFF;

}

.footer-title {
    width: 539px;
    height: 183px;
    left: 60px;
    top: 5632px;

    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    line-height: 61px;
    text-transform: uppercase;

    color: #FFFFFF;


}

.footer-comp {


    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 146.41%;
    margin-top: 50px;
   margin-right: 178px;

    color: #FFFFFF;

}

.footer-iconspack {
    left: 66.74%;
    right: 21.53%;
    top: 94.82%;
    bottom: 4.45%;

    padding-top: -1px;
    padding-left: 500px;
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 146.41%;
   


    color: #FFFFFF;

}

.footer-footercompo {
    /* left: 4.17%;
    right: 65.9%;
    top: 97.16%;
    bottom: 2.47%; */

    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 146.41%;
    
    padding: 0px 20px 0px 0px;
    list-style: none;
    text-transform: uppercase;

    color: #FFFFFF;

}

.footer-div4 {
    
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 146.41%;
    margin-left: 90px;
    margin-top: 80px;
    letter-spacing: 0.565em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footercomp {
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    line-height: 61px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer-line {
    width: 1280px;
    height: 0px;
    left: 60px;
    top: 6050px;
    margin: 40px 100px;
    border: 1px solid #FFFFFF;
}

.footer-social {
    width: 539px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 146.41%;
    

    text-transform: uppercase;
    margin-left: 95px;
    color: #FFFFFF;
}
@media only screen and (max-width: 768px){  


    .footer-title {
        width: 168px;
        /* height: 183px; */
        /* left: 60px; */
        /* top: 5632px; */
        font-family: 'Canela Text Trial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        /* line-height: 61px; */
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .footer-div1 {
        width: 492px;
        height: 183px;
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        justify-content: space-between;
    }
    .footercomponenttit {
        width: 774px;
        height: 23px;
        align-items: center;
        font-family: 'Canela Text Trial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        /* line-height: 124.5%; */
        padding-bottom: -1px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-right: -42px;
    }
    

    .footer-container {
        width: 541px;
        height: 788px;
        padding-top: 50px;
        margin-top: 500px;
        background-color: #114141;
    }
    /* .footer-div2 {
        margin-top: 130px;
        justify-content: space-around;
        font-family: 'DIN Alternate';
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 146.41%;
        color: #FFFFFF;
        margin-left: -93px;
        padding-left: 670px;
    } */
    .footer-comp {
        font-family: 'DIN Alternate';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 146.41%;
        margin-top: 50px;
        color: #FFFFFF;
        margin-right: 136px;
    }
    .footer-line {
        width: 415px;
        height: 0px;
        left: 60px;
        top: 6050px;
        margin: 40px 100px;
        border: 1px solid #FFFFFF;
    }







}
.phone{
margin-left: 132px;
}
.address{
    margin-left:132px;
}