@import url('https://fonts.cdnfonts.com/css/canela-text-trial');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* @media only screen and (min-width: 768px) and (max-width: 991px){  */
.WelcomeTrav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.trav1 {
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #114141;
    padding: 4rem;
}


.trav2 {
    width: 858px;
    height: 120px;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 157.5%;
    text-align: center;
    text-transform: lowercase;
    padding: 3rem;
}

.trav3 {
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #114141;
}

.trav4 {
    background-image: url(../assets/images/Rectangle\ 10.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    color: #FFFFFF;
    font-style: normal;
    text-transform: lowercase;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    font-weight: 400;
    font-size: 50px;
}

.trav5 {
    width: 409px;
    height: 41px;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #114141;
    padding-top: 3rem;
}

.trav6 {
    width: 800px;
    height: 50px;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 157.5%;
    text-align: center;
    text-transform: lowercase;
    color: #666666;
    padding: 3rem;
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .trav1 {
        font-weight: 400;
        font-size: 34px;
        line-height: 41px;
    }

    .trav2 {
        font-weight: 100;
        font-size: 16px;
        line-height: 157.5%;
    }

    .trav4 {
        height: 400px;
        width: 1100px;
        font-weight: 400;
        font-size: 50px;
        border-radius: 35px;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1199px){
    .trav2 {
        width: 50rem;
    }

    .trav4 {
        height: 400px;
        width: 800px;
        font-weight: 400;
        font-size: 40px;
        border-radius: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 899px){
    .trav1 {
        padding: 3rem;
    }
    .trav2 {
        width: 40rem;
        padding: 2rem;
    }
    .trav3 {
        padding-top: 2rem;
    }
    .trav4 {
        height: 300px;
        width: 650px;
        font-weight: 400;
        font-size: 30px;
        border-radius: 30px;
    }
    .trav6 {
        width: 43rem;
        padding: 2rem;
    }
}
@media only screen and (max-width: 767px) {
    
}