@import url('https://fonts.cdnfonts.com/css/canela-text-trial');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.trav1 {
    left: 495px;
    top: 962px;

    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    padding-top: 100px;
    text-align: center;
    text-transform: uppercase;

    color: #114141;
}

.trav2 {
    width: 858px;
    height: 120px;
    left: 291px;
    padding-top: 30px;
    top: 1038px;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    padding-left: 300px;
    line-height: 157.5%;
    text-align: center;
    text-transform: lowercase;
    padding-bottom: 100px;
}

.trav3 {

    left: 495px;
    top: 10px;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #114141;
    padding-bottom:70px;

}

.trav4 {
    background-image: url(../assets/images/Rectangle\ 10.svg);
    background-repeat: no-repeat;
    padding-top: 150px;
    width: 1319px;
    height: 400px;
    /* left: 61px;
    top: 1200px;
    left: 300px;
    top: 1500px; */
    color: #FFFFFF;
    font-style: normal;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    margin-left: 100px;
}

.trav5 {
    width: 409px;
    height: 41px;
    left: 515px;
    top: 1788px;
    padding-left: 400px;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    padding-left: 550px;
    line-height: 41px;
    /* identical to box height */
    padding-top: -10px;
    padding-bottom: 40px;
    text-align: center;
    text-transform: uppercase;

    color: #114141;
}

.trav6 {
    width: 858px;
    height: 50px;
    
    padding-left: 400px;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 157.5%;
    /* or 25px */
       /* text-align: center; */
    text-transform: lowercase;

    color: #666666;
}